*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --font :Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    --size : large ; 
}
#section{
    background-image: url(images/fafaffaded.png);
    background-size: cover;
}
.container{
    width: 100%;
}
.list{
    text-align: center;
    list-style: none;
    font-size: var(--size);
    
}
.Countries{
    text-align: center;
    font-weight: bold;
    font-family: var(--font);
}
.countryName{
    text-align: center;
    color: red;
    font-size: var(--size);
    font-family: var(--font);
}

.pics{
    border-radius: 6px;
    width: 290px;
    height: 140px;
    padding-left: 60px;
}
span{
    color: red;
}
footer{
    background-image: url(images/footerba.jfif);
    font-size:x-small;
    color: silver;
    background-color: rgb(172, 195, 202);
}
.container{
    color: white;
}
.col h4{
    color: rgba(9, 44, 73, 0.979);
}
.ul{
    list-style: none;
    color:black;
    font-size: large;
    font-weight: large;
    font-family:'Times New Roman', Times, serif;
    margin-right: 80px;
}
